body{
    background-image:url(https://www.wallpapertip.com/wmimgs/170-1702286_fondo-escritorio-paisaje-blanco-y-negro-.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;

}
H1{
    text-align: center;
}


